@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: black !important;
  --swiper-navigation-size: 20px !important;
}
.swiper-button-prev,
.swiper-button-next {
  margin-top: -40px;
  border-radius: 6px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: black !important;
  fill: black 0.5 !important;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.snowflake {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: -8px;
  /* animation: fall 10s linear; */
}

@keyframes fall {
  from {
  }
  to {
    transform: translateY(6822px);
    opacity: 0;
  }
}
